<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ETGroup.EfficientTalkServer.mapper.AuthMapper">
	<!--查询指定用户的密码-->
	<select id="getPasswordById" resultType="java.lang.String">
		SELECT users.password as password
		FROM users
		WHERE users.id = #{userId}
	</select>

	<!--登录时返回的用户信息-->
	<select id="getUserLoginDTO" resultType="com.ETGroup.EfficientTalkServer.entity.DTO.auth.UserLoginDTO">
		SELECT users.id       as userId,
			   users.username as userName,
			   users.avatar   as userAvatar,
			   users.org_id   as orgId,
			   users.dept_id  as deptId,
			   users.job_id   as jobId,
			   users.token    as token
		FROM users
		WHERE users.id = #{userId}
	</select>

	<!--获取指定用户的权限列表-->
	<select id="getPermissionByUserId" resultType="com.ETGroup.EfficientTalkServer.entity.PO.PermissionPO">
		SELECT permissions.permission_id as permissionId, permissions.permission_name as permissionName
		FROM users
				 JOIN jobs ON jobs.job_id = users.job_id
				 JOIN role_permission_map ON role_permission_map.role_id = jobs.role_id
				 JOIN permissions ON permissions.permission_id = role_permission_map.permission_id
		WHERE users.id = #{userId}
	</select>

	<!--获取指定用户的权限ID列表-->
	<select id="getUserPermissionIdList" resultType="java.lang.String">
		SELECT permissions.permission_id
		FROM users
				 JOIN jobs ON jobs.job_id = users.job_id
				 JOIN role_permission_map ON role_permission_map.role_id = jobs.role_id
				 JOIN permissions ON permissions.permission_id = role_permission_map.permission_id
		WHERE users.id = #{userId}
	</select>
</mapper>