<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ETGroup.EfficientTalkServer.mapper.SocialMapper">
	<!--获取好友列表-->
	<select id="getFriendList" resultType="com.ETGroup.EfficientTalkServer.entity.DTO.social.FriendListItemDTO">
		SELECT friends.friend_id     as userId,
			   users.username        as userName,
			   users.avatar          as userAvatar,
			   users.dept_id         as deptId,
			   departments.dept_name as deptName
		FROM friends
				 LEFT JOIN users ON friends.friend_id = users.id
				 LEFT JOIN departments ON users.dept_id = departments.dept_id
		WHERE friends.user_id = #{userId}
		ORDER BY users.username
	</select>
</mapper>